//Primary Colors:
$primary:           #0b1545;
$primary-light-1:   #36437C;
$primary-light-2:   #1d2960;
$primary-dark-1:    #040b2c;
$primary-dark-2:    #010516;

//Secondary Colors:
$secondary:         #034a1b;
$secondary-light-1: #146730;
$secondary-light-2: #30854d;
$secondary-dark-1:  #002f10;
$secondary-dark-2:  #001708;

//Tertiary Colors:
$tertiary:         #05303F;
$tertiary-light-1: #144758;
$tertiary-light-2: #2C6071;
$tertiary-dark-1:  #011E28;
$tertiary-dark-2:  #000F14;

//Quaternary Colors:
$quaternary:        #034a1b;
$quaternary-light-1:#B67D41;
$quaternary-light-2:#8D561C;
$quaternary-dark-1: #402100;
$quaternary-dark-2: #201000;

$success:       #30854d;
$info:          #05303f;
$warning:       #e0cf4a;
$danger:        #e0604a;
$light:         #efe9e2;
$dark:          #010516;